.app {
  /*text-align: center;*/
  /*border: 2px solid black;*/
  padding-top: 100px;
  width: 600px;
  margin: auto;
}


h2.header{
  margin-top: 50px;
}

/*.button{
  margin-bottom: 20px;
}*/

/*h4{
  border: 2px solid;
}*/